
/* Fonts from fonts.css file */
@import url(./font.css);

/* Css variables */
@import url(./partials/variables.css);

/* Css Global */
@import url(./partials/_global.css);

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.header_area {
    background: var(--primary-color2);
    width: 100%;
}
#nav-item{
    color: #f8f9fa;
}

#nav-item-active{
    color: #f8f9fa;
}

.navbar {
    padding: 5px;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    box-shadow: var(--box-shadow);
}

.navbar-brand img {
    width: 50px;
    margin-left: 300px;
}

.nav-item .nav-link {
    margin-right: 100px;
    font-size: 15px;
    padding: 3px 3px;
    transition: all .5s;
    
}

#nav-item:hover,#nav-item-active:hover{
    transform: scale(1,1);
    color: var(--primary-color);
}

#custom-bg {
    width: 10%;
    border: none;
    background: transparent;
}

.header-content {
    margin-top: 200px !important;
    margin-left: 80px;
    padding-bottom: 200px;
}

.text-title{
    font-family: var(--Poppins-bold);
    font-weight: 700;
    font-size: 59px;
}

.header-btn{
    border: 0px solid var(--primary-color2);
    border-radius: 5px;
    padding: 10px;
    width: 40%;
    transition: all .5s;
    background: var(--primary-color2);
    color: #f8f9fa;
    box-shadow: var(--box-shadow);
}

.header-btn:hover{
    transform: scale(1, 1);
    background: #f8f9fa;
    text-decoration: none;
    color: #6f6f6f;
    border: #f8f9fa;
    box-shadow: var(--box-shadow);
}
.header-btn2{
    border: 0px solid var(--primary-color2);
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    transition: all .5s;
    background: var(--primary-color2);
    color: #f8f9fa;
    box-shadow: var(--box-shadow);
}

.header-btn2:hover{
    transform: scale(1, 1);
    background: #f8f9fa;
    text-decoration: none;
    color: #6f6f6f;
    border: #f8f9fa;
    box-shadow: var(--box-shadow);
}

.header-btn3{
    border: 0px solid var(--primary-color2);
    border-radius: 5px;
    padding: 10px;
    width: 40%;
    transition: all .5s;
    background: #f8f9fa;
    color: var(--primary-color2);
    box-shadow: var(--box-shadow);
}

.header-btn3:hover{
    transform: scale(1, 1);
    background: #f8f9fa;
    text-decoration: none;
    color: #6f6f6f;
    border: #f8f9fa;
    box-shadow: var(--box-shadow);
}

hr{
    border: 1px solid #fff;
    margin-left: 25%;
    margin-top: -0.3%;
    width: 50%;
}

.header-content p {
    padding: 5px 30px 0 5px;
}

.main-menu{
    background: var(--primary-color2);
}

.download-sec {
    margin: 50px 0;
}

.cards{
    box-shadow: var(--box-shadow1);
}

.cards2{
    box-shadow: var(--box-shadow1);
    border: 1px solid var(--primary-color2);
}


.unlimited-data-sec{
    background: var(--primary-color2);
}
.data-sec{
    background: #fff;
    background-position: center;
    width: 50%;
    padding: 50px;
}
.background {
    background: black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.background2 {
    background: var(--primary-color2);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.background3 {
    background: var(--primary-color);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.background4 {
    background: var(--primary-color3);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.overlay-color {
    background: black;
    color: #fff;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.overlay-color p {
    color: #fff;
    font-size: 17px;
}
footer {
    width: 100%;
    display: block;
    background: var(--primary-color);
    height: 23%;
}

.social a {
    font-size: 2.5em;
    padding: 0.3rem;
}

section.services-area-service{
    background: #E8E3E3;
}
.closing-area{
    background: #E8E3E3;
}
.slide{
    background-color: var(--primary-color);
}
.slide-1{
    background: var(--primary-color3);
}
.arrow{
    background: black;
    margin-top: -1.4%;
    color: white;
    border-radius: 48%;
    width: 5%;
    margin-left: 48%;
    padding: 3px;
    font-size: 30px;
}
.arrow1{
    background: var(--primary-color2);
    color: white;
    margin-top: -1.5%;
    border-radius: 48%;
    width: 5%;
    margin-left: 48%;
    padding: 3px;
    font-size: 30px;
}
